* {
	margin: 0;
	padding: 0;
}

#page-wrapper {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color: white;
    text-align: center;
}

ul {
    list-style-type: none;
}

header > nav {
    display: block;
    width: 100%;
    background-color: lightgray;
}

header > nav > ul {
    display: table-row;
    list-style: none;
    padding-right: 2%;
    margin: 0 auto;
}

header > nav > ul > li {
    display: table-cell;
    padding: 10px 20px;
    vertical-align: middle;
}

.superscript {
    font-size: 0.9rem;
    vertical-align: top;
}

a:link, a:visited, a:active {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
}

#page-wrapper > section {
    height: 25em;
    background-color: #00A0B1;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#page-wrapper > section:nth-of-type(even) {
    background-color: #FFF;
    color: #00A0B1;
}

/* Sections */
#about {
    
}

#whoarewe, #whatwedo, #somethingelse {
    text-align: center;
    width: 33%;
    float: left;
}

#projects {
    
}

h2 {
    font-size: 4.5em;   
}

h3 {
    font-size: 2.5em;
}

footer {
    color: black;   
}
